<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="DestinationPort" value="5009" />
		<add key="DestinationIP" value="127.0.0.1"/>
		<add key="FFmpegCommand" value="-f gdigrab -r 60 -show_region 1 -video_size 1920x1080 -i desktop -f mjpeg -qscale:v 3 -vcodec mjpeg -preset ultrafast -tune zerolatency -threads 1 -filter:v setpts=1.2*PTS"/>
	</appSettings>


</configuration>