<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="RecievePort" value="3050" />
		<add key="DestinationPort" value="3051" />
		<add key="DestinationIP" value="127.0.0.1"/>
		<!--<add key="FFmpegCommand" value="-f gdigrab -r 60 -show_region 1 -video_size 1920x1080 -i desktop -f mjpeg -qscale:v 3 -vcodec mjpeg -preset ultrafast -tune zerolatency -threads 1 -filter:v setpts=1.2*PTS"/>-->
		<add key="FFmpegCommand" value="-f gdigrab -r 30 -show_region 1 -i desktop -f h264 -c:v libx264 -x264opts keyint=0:scenecut=-1  -preset ultrafast -tune zerolatency -threads 8"/>
		<add key="FFmpegPort" value="3052" />
	</appSettings>


</configuration> 